.search-results {
    display: block;
    background-color: #F1F9FF;
    border: 1px solid #3a3f44;
    border-radius: 8px;
    padding: 20px;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.concert-container {
    /* padding-bottom: 50px; */
    /* height: 300px; */
}

.concert-search-image {
    width: 90%;
}

.concert-search-about {
    display: flex;
    flex-direction: column;
}

.info-label {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    /* margin: 5px; */
}

.concert-label {
    margin: 5px 0px 20px 0px;
}