.concert-search-form-container {
    position: fixed;
    background-color: #F1F9FF;
    border: 1px solid #3a3f44;
    border-radius: 8px;
    padding: 25px;
    width: 400px;
    /* margin: auto; */
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 50px;
    
}

.form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
}

.input {
    text-align: center;
}

.genre, .location {
    width: 85%;
    margin: auto;
}

.search-button {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 20px;
    width: 85%;
    outline: none;
}

.results-info {
    text-align: center;
    margin-top: 50px;
}

/* ===RESPONSIVE LAYOUT */

@media only screen and (max-width: 850px) {
    .concert-search-form-container {  
        position: static;
        width: 90%;
        margin: auto;
        margin-bottom: 0;
        margin-top: 40px;
    }
    .map {
        margin-top: 40px!important;
    }
}