.concert-about-page {
    /* height: 80vh; */
    /* background-color: #7FC4FD; */
}

.concert-title, .header {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}

.concert-title {
    padding-top: 30px;
}

.concert-about {
    width: 80vw;
    background-color: #F1F9FF;
    border: 1px solid #3a3f44;
    border-radius: 8px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.concert-image {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 85%;
    /* width: 200px;
    height: 200px; */
    margin: auto;
}

.buttons-container {
    margin-top: 5%;
}

.icon {
    margin-left: 10%;
}

.button {
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 850px) {
    .concert-title {
        width: 90vw;
        margin: auto;
    }

    .concert-about {
        width: 90vw;
        padding: 10px;
    }

    .button {
        width: 70vw;
        margin: 20px 0px;
    }

}