.search-and-results {
    display: flex;
    flex-direction: row;
}

.concert-search-image {
  border-radius: 8px;
  width: 95%;
  margin: auto;
}

/* ===RESPONSIVE LAYOUT */

@media only screen and (max-width: 850px) {
  .search-and-results {
    display: flex;
    flex-direction: column;
  }

  .search-results {
    width: 90vw;
    padding: 10px;
    padding-top: 20px;
  }

  .form-container {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .details-button {
    margin-bottom: 20px;
  }

  .results-info {
    margin-top: 40px;
  }

  .page-title {
    margin-bottom: 20px;
  }

  .concert-label {
    padding: 5px 10px;
  }

}

/* ===RESPONSIVE GRID=== */

.row {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  .row::before,
  .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  .col-3, .col-4, .col-6, .col-8, .col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 100%;
  }
  
  .col-3, .col-4, .col-6, .col-8, .col-12 {
    width: 100%;
  }
  
  @media only screen and (min-width: 1050px) {
    /* 3 columns, 3/12 in % */
    .col-3 {
      width: 25%;
    }
  
    /* 4 columns */
    .col-4 {
      width: 33.33%;
    }
  
    /* 6 columns */
    .col-6 {
      width: 50%;
    }
  
    /* 8 columns */
    .col-8 {
      width: 66.66%;
    }
  
    /* 12 columns */
    .col-12 {
      width: 100%;
    }
  }