.concert-about-page {
    /* height: 80vh; */
    /* background-color: #7FC4FD; */
}

.concert-title, .header {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
}

.concert-title {
    padding-top: 30px;
}

.concert-title-about {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-weight: 900;
    padding-bottom: 30px;
}

.concert-about {
    width: 80vw;
    background-color: #F1F9FF;
    border: 1px solid #3a3f44;
    border-radius: 8px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.concert-image {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 85%;
    margin: auto;
}

.buttons-container {
    margin-top: 5%;
}

.icon {
    margin-left: 10%;
}

.button {
    width: 60%;
    margin: auto;
    cursor: pointer;
}

.video-preview-image {
    /* display: block; */
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 85%;
    margin: auto;
    margin-top: 40px;
}

.youtube-video-title, .youtube-channel-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 85%; */
    text-align: center;
    margin: auto;
    color: #48A6F5;
}

.youtube-video-title-prequel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 85%; */
    text-align: center;
    margin: auto;
    color: black;
}

.youtube-channel-link {
    text-decoration: none;
    margin-top: 10px;
    color: #1f4e74;
}

.youtube-channel-link:hover, .youtube-video-title:hover {
    text-decoration: underline;
}

.video-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 85%;
    margin: auto;
    border-radius: 8px;
    opacity: 0;
    transition: .3s ease;
    background-color: #48A6F5;
}

.play-video-icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.video-container:hover .video-overlay {
    opacity: 1;
}

.far:hover {
    color: #eee;
}

@media only screen and (max-width: 850px) {
    .concert-title {
        width: 90vw;
        margin: auto;
    }

    .concert-about {
        width: 90vw;
        padding: 10px;
    }

    .button {
        width: 70vw;
        margin: 20px 0px;
    }

}