.search-results {
    display: block;
    background-color: #F1F9FF;
    border: 1px solid #3a3f44;
    border-radius: 8px;
    padding: 20px;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.google-map-img {
    display: block;
    /* padding: 20px; */
    height: 350px;
    width: 85%;
    margin: auto;
    margin-top: 110px;
}

.search-results-title {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

.concert-search-image {
    width: 90%;
    margin: auto;
}

.concert-search-about {
    display: flex;
    flex-direction: column;
}

.info-label {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    text-decoration: underline;
}

.concert-label {
    margin: 5px 0px 20px 0px;
}

.icon-favorite-details {
    float: right;
    margin: 10px 20px;
}

.favorite-button, .details-button {
    width: 95%;
    /* margin: auto; */
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.favorite-button:hover, .details-button:hover, .search-button:hover {
    cursor: pointer;
}

.map {
    border:1px solid #3a3f44;
    width: 85%;
    margin: auto;
    margin-top: 110px;

}

.sweet-loading {
    margin: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin: auto; */
    /* float: right; */
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-right: 200px; */
}

.next-button, .previous-button {
    width: 100px!important;
    padding: 0px;
    /* margin-left: 75px;
    margin-right: 75px; */
    cursor: pointer;
}

.page-number {
    margin: auto 50px;
}

/* ===RESPONSIVE LAYOUT */

@media only screen and (max-width: 435px) {
    .google-map-img {
        display: none;
        
    }
}