.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #3a3f44;
    border-radius: 8px;
    background-color: #F1F9FF;
    width: 40%;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.page-title {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}

.login-form-button, .signup-form-button {
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

input#password, input#username, input#firstName, input#lastName, input#passwordConfirm {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #3a3f44;
    border-radius: 4px;
    padding: 10px;
    width: 50%;
}

.fields-and-labels {
    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 10px;
}

.register-link {
    color: black;
}

.register-link:hover {
    color: #48A6F5;
}

.form-error {
    color: red;
    background-color: #d7d7d7;
    border-radius: 4px;
    width: 40%;
    margin: auto;
    padding: 5px;
}

.login-signup-span {
    font-size: 18px;
}

/* ===RESPONSIVE LAYOUT */

@media only screen and (max-width: 850px) {
    .login-form, .signup-form {
        width: 90vw;
    }

    input#username, input#password, input#firstName, input#lastName, input#passwordConfirm, .login-form-button {
        width: 70vw;
    }

    .login-form-button, .signup-form-button {
        margin-bottom: 40px;
        width: 70vw;
    }
}