.side-drawer {
    height: 100%;
    background-color: #42A4F8;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 12;
    transform: translateX(-105%);
    transition: transform 0.3s ease-out;
}

.logout-button-mobile {
    width: 75%;
    margin: auto;
    float: left;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
}

.side-drawer a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.side-drawer li {
    margin: 1.25rem 0;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #BDE1FC;
}

@media (min-width: 850px) {
    .side-drawer {
        display: none;
    }
}